@media(max-width:992px){


.nav-links{

    display:none;

}


.btn-nav{

    display:none;

}


.menu-toggle{

    display:block;

}


.mobile-menu.active{

    display:flex;

}


}